header {
  text-align: center;
}

.tab-pane h1 {
  text-align: center;
}

.tab-pane table {
  margin:20px auto;
}

.table tr td {
  vertical-align: middle!important;
}

#professional-experience h2 {
  margin-bottom: 0;
  margin-top: 20px;
}

#professional-experience .collapse p {
  margin-bottom: 0;
}

#professional-experience .in {
  padding-bottom: 10px;
}

#auto1.in {
  padding-bottom: 1px;
}

.job-btns {
  float:right;
}

#auto1 ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 10px;
}

#auto1 ul li {
  padding-top: 4px;
}

#auto1 p {
  margin-bottom: 0;
}

.list-triangle-right {
  background-color: rgba(0, 0, 0, 0);
  border-left: 10px solid #2e6da4;
  border-bottom: 8px solid #ffffff;
  border-top: 8px solid #ffffff;
  position: relative;
  display: inline-block;
  margin-bottom: -4px;
  padding-right: 5px;
}

.upside-down {
  -webkit-transform: rotate(-180deg);
  -moz-tranform: rotate(-180deg);
  tranform: rotate(-180deg);
}

.panel-body ul {
  list-style: none;
  padding-left: 0;
}

#personal-skills .panel-title {
  text-align: center;
}

.panel-body>ul>li {
  padding-bottom: 7px;
}

.comp-lang {
  font-weight: 600;
}

@media all and (max-width:767px) {
  .job-btns {
    display: none;
  }
}

@media all and (min-width:768px) {
  #personal-info {
    width: 60%;
    margin-left: 20%;
  }
  .nav-tabs li:first-child {
    margin-left: 30px;
  }
}

@media all and (min-width:992px) {
  .nav-tabs li:first-child {
    margin-left: 106px;
  }
  .tab-pane {
    width: 84%;
    margin-left: 8%;
  }
}

@media all and (min-width:1200px) {
  .nav-tabs li:first-child {
    margin-left: 206px;
  }
  .tab-pane {
    width: 76%;
    margin-left: 12%;
  }
}
