header {
  text-align: center;
  position: relative;
  a {
    position: absolute;
    top: 0;
    right: 0;
  };
}

p {
  margin: 0;
}

.tab-pane {
  h1 {
    text-align: center;
  }
  table {
    margin: 20px auto;
  }
}

.table tr td {
  vertical-align: middle!important;
}

div[role="tabpanel"] {
  margin-bottom:30px;
}

#professional-experience {
  h2 {
    margin-bottom: 0;
    margin-top: 20px;
    &[data-toggle="collapse"] {
      cursor: pointer;
    }
  }
  .collapse p {
    margin-bottom: 0;
  }
  .in {
    padding-bottom: 10px;
    &#auto1 {
      padding-bottom: 1px;
    }
  }
}

.list-triangle-right {
  background-color: rgba(0, 0, 0, 0);
  border-left: 10px solid #2e6da4;
  border-bottom: 8px solid #ffffff;
  border-top: 8px solid #ffffff;
  position: relative;
  display: inline-block;
  margin-bottom: -4px;
  padding-right: 10px;
}

.job-btns {
  float:right;
}

#auto1 {
  &.in {
    padding-bottom: 1px;
  }
  ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
    li {
      padding-top: 10px;
    }
  }
  p {
    margin-bottom: 0;
  }
}

.btn .caret {
  transition: all 0.3s linear;
}

.upside-down {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.panel-body ul {
  list-style: none;
  padding-left: 0;
}

#personal-skills .panel-title {
  text-align: center;
}

.panel-body>ul>li {
  padding-bottom: 7px;
}

.comp-lang {
  font-weight: 600;
}

@media all and (max-width:767px) {
  .job-btns {
    display: none;
  }
}

@media all and (min-width:768px) {
  #personal-info {
    width: 60%;
    margin-left: 20%;
  }
  .nav-tabs li:first-child {
    margin-left: 30px;
  }
  #education div {
    text-align: center;
  }
}

@media all and (min-width:992px) {
  .nav-tabs li:first-child {
    margin-left: 106px;
  }
}

@media all and (min-width:1200px) {
  .nav-tabs li:first-child {
    margin-left: 206px;
  }
}
