.container > h4 {
  margin-bottom: 30px;
}
input[name="username"] {
  width: 200px;
}
label[for="username"] {
  margin-top: 7px;
}
#invalid {
  display: none;
}
#invalid h4 {
  text-align: center;
}
#no-results {
  display: none;
}
#no-results h4 {
  text-align: center;
}
#results {
  display: none;
}
@media all and (max-width: 767px) {
  #submit {
    margin-left: 15px;
    margin-top: 11px;
    min-width: 85px;
  }
}
