@page {
  margin: 0.87cm;
  size: auto;
}

header h1, header h4 {
  text-align: center;
}

header a {
  display: none;
}

.nav {
  display: none;
}

.tab-content>.tab-pane {
  display: block;
  opacity: 1;
  margin: 1px 0;
  width: 100%;
}

.tab-pane > div {
  margin: 20px 0;
  page-break-inside: avoid
}

.table.table-striped {
  margin-bottom: 0;
}

#personal-skills .col-md-4 {
  page-break-inside: avoid;
  padding-left: 0;
  padding-right: 0;
}

.well {
  page-break-inside: avoid;
}

.tab-pane h1 {
  text-align: center;
}

.collapse {
  display: block;
}

.collapse ul {
  padding-left: 20px;
}

.job-btns {
  display: none;
}

#personal-skills {
  padding: 0;
}

.panel-info {
  border: none;
}

.panel-heading {
  border: none;
  padding: 0;
}

.panel-body {
  padding: 10px 0 0;
}

.panel-body ul {
  padding-left: 0;
}

.panel-body > ul > li {
  padding-bottom: 7px;
  display: inline;
}

.panel-body > ul > li + li {
  padding-left: 5px;
}

.panel-body > ul > li + li:before {
  content: "\00b7";
  padding-right: 9px;
}

.screen {
  display: none;
}

h1 {
  font-size: 18px;
  page-break-after: avoid;
  margin: 10px 0 5px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}
