html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.input-overlay {
  height: 0;
  width: 0;
	opacity: 0;
  background-color: #7777bb;
  position: absolute;
	z-index: 2;
	transition: height 0.3s, width 0.3s, opacity 0.3s;
}

.input-overlay.active {
	height: 100vh;
	width: 100%;
	opacity: 1;
	overflow: hidden;
}

.input-overlay.active .input-cancel {
	visibility: visible;
}

.input-wrapper {
	position: relative;
	top: 100px;
	left: 30px;
}

.input-wrapper label {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 8px;
	display: block;
}

.input-wrapper input:not(#event-submit) {
	width: 200px;
	font-size: 17px;
	height: 23px;
}

.input-date, .input-time, .input-event {
	margin-bottom: 20px;
}

.input-submit input {
	background-color: #ffffff;
	color: #7777bb;
	border-radius: 3px;
	border: none;
}

.input-cancel {
	visibility: hidden;
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 5px 10px;
	border: none;
	background-color: #ffffff;
	border-radius: 5px;
	color: #7777bb;
	width: 150px;
	font-size: 14px;
}

.time-left--wrapper {
	padding: 90px 30px 0;
}

@media all and (max-width: 767px) {
	.time-left--wrapper {
		padding-top: 150px;
	}
}

.time-left--heading {
  font-size: 3rem;
  text-align: center;
}

#time-left {
  font-size: 3.5rem;
	color: #7777bb;
}

@media all and (max-width: 767px) {
	#time-left i {
		display: block;
	}
}

.change-event {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

#update-event {
  padding: 5px 10px;
  border: none;
  background-color: #7777bb;
  border-radius: 5px;
	width: 150px;
	color: #ffffff;
	font-size: 14px;
	height: 29px;
}

.change-time-view {
	position: absolute;
	right: 30px;
	top: 30px;
}

@media all and (max-width: 767px) {
	.change-time-view {
		left: 30px;
		top: 75px;
	}
}

.change-time-dropdown {
	border: none;
	background-color: #7777bb;
	width: 150px;
	color: #ffffff;
	height: 29px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	text-align: center;
	font-size: 14px;
	outline: none;
	transition: color 0.3s;
}

.change-time-dropdown.fade-out {
	color: #7777bb;
}

.change-time-dropdown-menu {
	transition: height 0.3s ease-in;
	overflow: hidden;
}

.change-time-dropdown-menu.open {
	transition: height 0.3s ease-out;
}

.change-time-dropdown-menu a {
	display: block;
	border: none;
	background: #7777bb;
	width: 150px;
	color: white;
	padding: 8px 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	border-top: 1px solid;
}

.change-time-dropdown-menu a:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.change-time-dropdown-menu a:hover {
	background-color: #9999dd;
}

.change-time-dropdown-menu a.selected {
	background-color: #8888cc;
}
